<div class="container ">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">phone</th>
        <th scope="col">DOB</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Blood Group</th>
        <th scope="col">Photo</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of allInformation">
        <th scope="row">{{info.firstName}}</th>
        <td>{{info.email}}</td>
        <td>{{info.phone}}</td>
        <td>@{{info.birthDate}}</td>
        <td>{{info.age}}</td>
        <td>{{info.gender}}</td>
        <td>{{info.bloodGroup}}</td>
        <td><img style="width: 40px;" [src]="info.image" alt=""></td>
  
  
      </tr>
    </tbody>
  </table>
</div>